<app-navbar></app-navbar>

<div *ngIf="marked">

  <div *ngFor="let info1 of notificationPost">

    <div *ngIf="info1?.isAccepted">
      <div class="col-sm-8-left">
        <table>
          <tr>
            <th>new Post at {{ info1?.PostTime}} {{ info1?.PostDate}} Accepted
            </th>
          </tr>
        </table>
        <td><button (click)="GetValues(info1.id)">Close</button></td>
      </div>
    </div>

    <div *ngIf="!info1?.isAccepted">
      <div class="col-sm-8-left">
        <table>
          <tr>
            <th>new Post at {{ info1?.PostTime}} {{ info1?.PostDate}} Rejected
            </th>
          </tr>
        </table>
        <td><button (click)="GetValues(info1.id)">Close</button></td>
      </div>
    </div>

  </div>

    <div *ngFor="let info2 of notificationComp">
  
      <div *ngIf="info2?.isAccepted">
        <div class="col-sm-8-left">
          <table>
            <tr>
              <th>new Complain at {{ info2?.Category}}  Accepted
              </th>
            </tr>
          </table>
          <td><button (click)="GetValuesComp(info2.id)">Close</button></td>
        </div>
      </div>
  
      <div *ngIf="!info2?.isAccepted">
        <div class="col-sm-8-left">
          <table>
            <tr>
              <th>new Complain at {{ info2?.category}}  Rejected
              </th>
            </tr>
          </table>
          <td><button (click)="GetValuesComp(info2.id)">Close</button></td>
        </div>
      </div>
  
    </div>
  




  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>

</div>

<div *ngIf="!marked">
  <app-pop-post></app-pop-post>
</div>