<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<app-navbar></app-navbar>
<div class="body">
  <br><br>
  <div class="login-wrap">
    <div class="login-html">
      <label for="pass" class="label"><h3>Enter your complain details here</h3></label>
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <form ngNativeValidate>
            <div class="row">
              <div class="col-md-3" style="color:black">
                <br>
                <div class="row">
                  <div class="col-sm">
                    <div class="group">
                      <label for="pass" class="label">Date</label>
                      <input type="date" class="form-control" name="date" placeholder="" [(ngModel)]="credential.date"
                        required>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="group">
                      <label for="pass" class="label">Time</label>
                      <input type="time" class="form-control" name="time" placeholder="" [(ngModel)]="credential.time"
                        required>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="row">
                  <div class="col-sm">
                    <div class="group">
                      <label for="pass" class="label">Select Complain Category</label>
                      <select class="form-control" [(ngModel)]="credential.category" name="category"
                        placeholder="Street-Signal post" required>
                        
                          <option value="Street-Signal post">Street-Signal post</option>
                          <option value="Street-Pedestrian crossing">Street-Pedestrian crossing</option>
                          <option value="Street-lamp">Street-lamp</option>
                          <option value="Street-Color light">Street-Color light</option>
                          <option value="Illegal-Constrction">Illegal-Constrction</option>
                          <option value="Street-Dangerous tree">Street-Dangerous tree</option>
                          <option value="Street-Dangerous construction area">Street-Dangerous construction area</option>
                       
                          <option value="Drainage Blockage-Private">Drainage Blockage-Private</option>
                          <option value="Drainage Blockage-Public building">Drainage Blockage-Public building</option>
                          <option value="Drainage Blockage-Road">Drainage Blockage-Road</option>
                        
                          <option value="Solid waste-Private">Solid waste-Private</option>
                          <option value="Solid waste-Public premises">Solid waste-Public premises</option>
                          <option value="Decaying-Waste Public">Decaying-Waste Public</option>

                          <option value="Tree Cutting Debris-Private">Tree Cutting Debris-Private</option>
                          <option value="Tree Cutting Debris-Public premises">Tree Cutting Debris-Public premises</option>                     
                          <option value="Mosquito breeding area-Public">Mosquito breeding area-Public</option>
                          <option value="Mosquito breeding area-Private">Mosquito breeding area-House</option>
                        
                      </select>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm">
                    <div class="group">
                      <label for="pass" class="label">Description</label>
                      <textarea rows="4" cols="80" class="form-control" placeholder="Description" name="description"
                        [(ngModel)]="credential.description" required></textarea>
                    </div>
                  </div>
                </div>

                <br>
                <br>
                <div class="row">
                  <div class="col-sm">
                    <div class="group">
                      <label for="pass" class="label">Address 1</label>
                      <input type="text" class="form-control" name="address 1" placeholder="address 1"
                        [(ngModel)]="credential.address1" required>
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="group">
                      <label for="pass" class="label">Address 2</label>
                      <input type="text" class="form-control" name="address 2" placeholder="address 2"
                        [(ngModel)]="credential.address2" required>
                    </div>
                  </div>
                </div>

                <br>
                <div class="row">
                  <div class="col-sm">
                    <div class="group">
                      <label for="pass" class="label" placeholder="District 2B Colombo Central">District</label>
                      <select class="form-control" [(ngModel)]="credential.district" name="district" required>
                        <option value="1" selected="Colombo">District 1 Colombo North</option>
                        <option value="2" selected>District 2A Colombo Central</option>
                        <option value="3">District 2B Colombo Central</option>
                        <option value="4">District 3 Borella</option>
                        <option value="5">District 4 Colombo East</option>
                        <option value="6">District 5 Colombo West</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-1"></div>
              <div class="col-md-4" style="color:black">
                <div class="row">
                  <div class="col-sm">
                    <div class="group">
                      <label for="pass" class="label">Add Image for complain</label>
                    </div>
                    <form method="POST">
                      <img [src]="imageUrl"  width="20%" height="20%"><br><br>
                      <input type="file" name="compImg" (change)="OnFileSelected($event)" accept="image/"><br><br>
                    </form>
                  </div>
                </div>
                <br>


                <div class="row">
                  <div class="col-sm">
                    <app-map></app-map>
                  </div>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                <div class="group">
                  <button (click)="onFileUpload($event)" class="button">Submit Complain</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
