<div class="body">
    <br><br><br><br>
<div class="login-wrap">
    <div class="login-html">
      <label for="pass" class="label">Enter email to send reset password link</label>
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <form (submit)="resetPassword()" ngNativeValidate>
            <div class="group">
              <label for="pass" class="label">Email</label>
              <input type="email" class="form-control" name="email" placeholder="" [(ngModel)]="credential.email" required>
            </div>
            <div class="col-md-2">
              <button data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary">Send</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

 
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    
  </div>
</div>
</div>


