<div class="body">
    <br><br><br><br>
<div class="login-wrap">
    <div class="login-html">
      <label for="pass" class="label">Enter email to send reset password link</label>
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <form (submit)="resetPassword()" ngNativeValidate>
            <div class="group">
              <label for="pass" class="label">Email</label>
              <input type="email" class="form-control" name="email" placeholder="" [(ngModel)]="credential.email"
                required>
            </div>
            <div class="group">
              <button type="submit" class="button">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


