<form (submit)="SubmitCurrentPassword()" ngNativeValidate>
  <div class="group">
    <label for="pass" class="label">Current Password</label>
    <input type="password" class="form-control" name="password" placeholder="********" [(ngModel)]="userData.password" required>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary">Send</button>
</div>
</form>

<div *ngIf = !marked>
  <form (submit)="ChangePassword()" ngNativeValidate>
    <div class="group">
      <label for="pass" class="label">New Password</label>
      <input type="password" class="form-control" name="newpassword" placeholder="********" [(ngModel)]="userData.newpassword" required>
    </div>
    <div class="group">
      <label for="pass" class="label">Conferm Password</label>
      <input type="password" class="form-control" name="confermpassword" placeholder="********" [(ngModel)]="userData.confermpassword" required>
    </div><br><br>
    <div class="col-md-2">
      <button class="btn btn-primary">Change Password</button>
  </div>
  </form>
</div>

  