body {
    font: 600 16px/18px 'Open Sans', sans-serif;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ba {
    height: 650px;
    padding-top: 25px
}