body {
    color: black;
    font: 600 16px/18px 'Open Sans', sans-serif;
    /* background-image: url(/assets/img/low-opacity.jpg); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ba {
    height: 650px;
    padding-top: 25px
}