<app-navbar></app-navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <form (submit)="Upload()" method="POST">
                    <div class="profile-img">
                        <img src="http://localhost:3000/{{ fileUrl?.pic_name }}" alt="{{ fileUrl }}"><br><br>
                        <input type="file" name="prophoto" accept="image/*" (change)="OnFileSelected($event)"
                            style="margin-left: 50px;">
                    </div><br>
                    <div class="group">
                        <button type="submit" class="button-primary" style="margin-left: 50px">Add Image</button>
				</div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>

                    </h5>
                    <h6>

                    </h6>
                </div>
            </div>
            <div class="col-md-2">
                <button data-toggle="modal" data-target="#exampleModalCenter1" class="btn btn-secondary">Edit profile</button>
                <br><br>
                <button data-toggle="modal" data-target="#exampleModalCenter2" class="btn btn-secondary">Change Password</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{details.first_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{details.last_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{details?.address}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Contact Number </label>
                            </div>
                            <div class="col-md-6">
                                <p>{{details.contact_num}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{details.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <app-edit-profile></app-edit-profile>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <app-changepassword></app-changepassword>
        </div>
    </div>
</div>