<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<app-navbar></app-navbar>
<div class="body">
  <br><br><br>
  <div class="row">
    <div *ngFor="let info of complains">
      <div class="colum-sm-2">
        <div class="wrapper">
          <div class="card radius shadowDepth1">
            <div class="card__image border-tlr-radius">
              <img height="200" src="http://localhost:3000/{{ info?.complainImg}}"
                alt="http://localhost:3000/{{ info?.complainImg}}" alt="image" class="border-tlr-radius">
            </div>

            <div class="card__content card__padding">
              <div class="card__meta">
                <a href="#">{{ info?.category}}</a>
                at <time>{{ info?.address1}}, {{ info?.address2}}</time>
              </div>

              <article class="card__article">
                <p>{{ info?.description}}</p>
              </article>
              Report Date and Time:
              <article class="card__article">
                <time>{{ info?.date}} at {{ info?.time}}</time>
              </article>
            </div>
          </div>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>