<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<app-navbar></app-navbar>
<div class="body">
  <br><br><br>
  <div class="row px-4">
    <div *ngFor="let info of editablecomplains">
      <div class="col-sm-4 py-4">
        <div class="card bg-light h-100" style="width: 24rem;">
          <img class="card-img-top" src="http://192.168.1.30:3000/{{ info?.complainImg}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ info?.category}} at <time>{{ info?.location}}</time></h5>
            <h5><strong>Description</strong></h5>
            <p class="card-text">{{ info?.description}}</p>
            <h5><strong>Reported date and time</strong></h5>
            <p class="card-text"> <time>{{ info?.date}} at {{ info?.time}}</time></p>
            <button type="button" class="btn btn-danger" (click)="delete(info.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>