<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<app-navbar></app-navbar>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="container" style="position: fixed;">
                <button type="button" class="btn btn-info btn-lg bg-dark" routerLink="/mypost" style="width: 200px;">Go
                    to My Posts</button>
                <br>
                <br>
                <button type="button" class="btn btn-info btn-lg bg-dark" routerLink="/post"
                    style="width: 200px;">Submit a Post</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div *ngFor="let info of postdata">
                <div class="wrapper">
                    <div class="card radius shadowDepth1">
                        <div class="card__image border-tlr-radius">
                            <img src="http://192.168.1.30:3000/{{ info?.PostImg}}"
                                alt="http://192.168.1.30:3000/{{ info?.PostImg}}" alt="image" class="border-tlr-radius">
                        </div>
                        <div class="card__content card__padding">
                            <div class="card__meta">
                                <a href="#">{{ info?.PostTitle}}</a>
                                <time>{{ info?.PostDate}} at {{ info?.PostTime}}</time>
                            </div>
                            <article class="card__article">
                                <p>{{ info?.PostContent}}</p>
                            </article>
                        </div>
                        <div class="card__action">
                            <div class="card__author">
                                <div class="card__author-content">
                                    By <time>{{ info?.FirstName}} {{ info?.LastName}}</time>
                                </div>
                                <br><br>
                                <div class="container">
                                    <div *ngFor="let ing of likedposts">
                                        <!-- <div *ngIf="i.PostID===info.id">
                                                <button (click)="onPostDislikeClick(info)">Dislike</button>
                                            </div> -->

                                        <div *ngIf="ing.PostID===info.id; then thenBlock"></div>
                                        <ng-template #thenBlock>{{likedStatus(true)}}</ng-template>
                                    </div>
                                    <div>
                                        <button [style.display]="likedstatus ? 'inline' : 'none'"
                                            (click)="onPostDislikeClick(info)">Dislike</button>
                                    </div>
                                    <div>
                                        <button [style.display]="!likedstatus ? 'inline' : 'none'"
                                            (click)="onPostLikeClick(info)">Like</button>
                                    </div>
                                    <div>
                                      Likes : {{info?.PostLike}} Users
                                    </div>
                                </div>
                                {{likedStatus(false)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">

        </div>
    </div>
</div>