<!-- app.component.html -->

 
<div class = "container">
    <h3>Search your Complaint Location</h3>
    
    <div class = "form-group">
        <label>Enter address</label>
        <input type="text" class="form-control" [(ngModel)] = "locate" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search style="width: 500px;">
    </div>
      
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
    
<!--     
  <div>Address: {{address}}</div>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div> -->
</div>


 


