<app-navbar></app-navbar>
<div class="body">
    <br><br><br>
<div *ngFor="let info of postdata">
<!-- <div class="wrapper">		
        <div class="card radius shadowDepth1">
            <div class="card__content card__padding">
                <div class="card__meta">
                    	<a href="#">{{ info?.PostTitle}}</a>
                    <time>{{ info?.PostDate}}  at  {{ info?.PostTime}}</time>
                </div>
            </div>
            <div class="card__action">
                <button type="button" class="btn btn-danger" (click)="delete(info.id, info.UserID)">Delete</button>
            </div>
        </div>
    </div> -->
    <ul class="list-group">
            <li class="list-group-item">{{ info?.PostTitle}} - {{ info?.PostDate}} at {{ info?.PostTime}} &nbsp;&nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-danger" (click)="delete(info.id, info.UserID)">Delete</button>                          
            </li>
    </ul>
    
</div>
<br><br><br>
</div>
 