<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<app-navbar></app-navbar>
<div class="body">
    <br><br><br>
    <div *ngFor="let info of postdata">

        <div class="main">
                <ul class="list-group">
                    <li class="list-group-item">{{ info?.PostTitle}} - {{ info?.PostDate}} at {{ info?.PostTime}}
                        &nbsp;&nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-danger"
                            (click)="delete(info.id, info.UserID)">Delete</button>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <br><br><br>
