.backImg{
	background-image: url(/assets/img/abstract-background-beautiful-1435752.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	
	
}




.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(165, 170, 167);
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 66px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
  }
  
  .sidenav a:hover {
    color: #0f0000;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size:15px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }