<app-navbar2></app-navbar2>
<html>
<div class style="height: 800px; padding-top: 25px">

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="box">
            <h5 style=color:#007bff>Register Supervisor</h5>
            <form (submit)="Register()" ngNativeValidate>
              <div class="inputBox">
                <label for="">First Name</label>
                <input type="text" class="form-control" name="firstname" placeholder="first name"
                  [(ngModel)]="credential.firstname" required>
              </div>
              <br>
              <div class="inputBox">
                <label for="">Last Name</label>
                <input type="text" class="form-control" name="lastname" placeholder="last name" [(ngModel)]="credential.lastname"
                  required>
              </div>
              <br>
              <div class="inputBox">
                <label for="">Contact No</label>
                <input type="text" class="form-control" name="contactno" placeholder="contact no"
                  [(ngModel)]="credential.contactno" required>
              </div>
              <br>
              <div class="inputBox">
                <label for="">Email</label>
                <input type="email" class="form-control" name="email" placeholder="email" [(ngModel)]="credential.email"
                  required>
              </div>
              <br>
              <div class="inputBox">
                <label for="">Password</label>
                <input type="password" class="form-control" name="password" placeholder="password"
                  [(ngModel)]="credential.password" required>
              </div>
              <br>
              <div class="row">
                <div class="col-sm">
                  <div>
                    <label for="pass" class="label">Job Category 1</label>
                    <select class="form-control" [(ngModel)]="credential.jobcategory1" name="jobcategory1"
                      placeholder="Street-Signal post" required>
                      <optgroup label="Emergency on street">
                        <option value="Street-Signal post">Street-Signal post</option>
                        <option value="Street-Pedestrian crossing">Street-Pedestrian crossing</option>
                        <option value="Street-lamp">Street-lamp</option>
                        <option value="Street-Color light">Street-Color light</option>
                        <option value="Street-Dangerous tree">Street-Dangerous tree</option>
                        <option value="Street-Dangerous construction area">Street-Dangerous construction area</option>
                      </optgroup>
                      <optgroup label="Drainage Blockage">
                        <option value="Drainage Blockage-house">Drainage Blockage-house</option>
                        <option value="Drainage Blockage-Public building">Drainage Blockage-Public building</option>
                        <option value="Drainage Blockage-Road">Drainage Blockage-Road</option>
                      </optgroup>
                      <optgroup label="Solid Waste Removal">
                        <option value="Solid waste-house">Solid waste-house</option>
                        <option value="Solid waste-Public premises">Solid waste-Public premises</option>
                      </optgroup>
                      <optgroup label="Removal of Tree Cutting Debris">
                        <option value="Tree Cutting Debris-house">Tree Cutting Debris-house</option>
                        <option value="Tree Cutting Debris-Public premises">Tree Cutting Debris-Public premises</option>
                      </optgroup>
                      <optgroup label="Other">
                        <option value="Mosquito breeding area">Mosquito breeding area</option>
                      </optgroup>
                    </select>
                  </div>
                </div>

                <div class="col-sm">
                    <div>
                      <label for="pass" class="label">Job Category 2</label>
                      <select class="form-control" [(ngModel)]="credential.jobcategory2" name="jobcategory2"
                        placeholder="Street-Signal post" required>
                        <optgroup label="Emergency on street">
                          <option value="Street-Signal post">Street-Signal post</option>
                          <option value="Street-Pedestrian crossing">Street-Pedestrian crossing</option>
                          <option value="Street-lamp">Street-lamp</option>
                          <option value="Street-Color light">Street-Color light</option>
                          <option value="Street-Dangerous tree">Street-Dangerous tree</option>
                          <option value="Street-Dangerous construction area">Street-Dangerous construction area</option>
                        </optgroup>
                        <optgroup label="Drainage Blockage">
                          <option value="Drainage Blockage-house">Drainage Blockage-house</option>
                          <option value="Drainage Blockage-Public building">Drainage Blockage-Public building</option>
                          <option value="Drainage Blockage-Road">Drainage Blockage-Road</option>
                        </optgroup>
                        <optgroup label="Solid Waste Removal">
                          <option value="Solid waste-house">Solid waste-house</option>
                          <option value="Solid waste-Public premises">Solid waste-Public premises</option>
                        </optgroup>
                        <optgroup label="Removal of Tree Cutting Debris">
                          <option value="Tree Cutting Debris-house">Tree Cutting Debris-house</option>
                          <option value="Tree Cutting Debris-Public premises">Tree Cutting Debris-Public premises</option>
                        </optgroup>
                        <optgroup label="Other">
                          <option value="Mosquito breeding area">Mosquito breeding area</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>

              </div>
              <br><br>
              <button class="btn btn-primary" type="submit">Register</button>&nbsp;&nbsp;
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>

</html>