<link rel="stylesheet" href="assets/custom-style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<app-navbar></app-navbar>
<body>
 <div class ="jumbotron big-banner" style="height: 450px; padding-top: 150px;"></div>
  <footer class="page-footer font-small indigo">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
           <ul class="list-unstyled">
            <li>
              <img src="assets/img/telephone.png" style="width:20px; height:20px">
              <a href="tel:+94719616908" style="color:black">  tel:+9411675321</a>
            </li>
            <br>
            <li>
                <img src="assets/img/contact.png" style="width:20px; height:20px">
                <a href="mailto:itrack24@gmail.com" style="color:black">  mailto:itrack24@gmail.com</a>
              </li>
          </ul>
  
        </div>  
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-4
         mx-auto" Style="text-align: center">
          <h5 class="font-weight-bold text-uppercase mt-2 mb-3">About Us</h5>
          <P>itrack24 provides you 24 hours service to report your 
            issues regarding public and private properties in a 
            smarter way.Our services are available on mobile
             platforms.itrack24 is designed to give a great experience 
             on reporting your issues directly to the municipal.
          </P>
        </div>
  
        <hr class="clearfix w-100 d-md-none">
  
        <div class="col-md-3 mx-auto">
  
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Mobile Apps</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://play.google.com/store/apps"><img src="assets/img/play_prism_hlock_2x.png" style="width:40%; height:30%" ></a>
            </li>
            <br>
            <li>
              <a href="https://www.apple.com/ios/app-store/"><img src="assets/img/apple-store-app-icon.png" style="width:40%; height:30%" ></a>
            </li>
          </ul>
  
        </div>
  
      </div>
  
    </div>
  
  </footer>
</body>





