<link rel="stylesheet" href="assets/custom-style.css">
 <div class ="jumbotron big-banner" style="height: 800px; padding-top: 150px;">
<div class="container">
  <div>
     <div class="col-auto text-dark">
       <h2 class="display-5" style="font-style: oblique">Welcome to itrack24</h2>
       <p class="lead">Everything your business needs to take back control</p>
       <button class="btn btn-danger" type="submit" routerLink="/register">Sign Up</button>
       <button class="btn btn-primary" type="submit" routerLink="/login">Login</button>

   </div>

  </div>
</div>
</div>





